ul {
  list-style: none;
  padding: 0;
}

.app {
  background-image: url('../../resources/images/stars.png');
  background-repeat: repeat-x;
}

.footer {
  text-align: center;
  color: #f7f7f764;
  font-size: 10px;
}
.footer-link {
  color: #ffffff64;
}