.tooltip {
  position: fixed;
  width: 286px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 0 3px 0 #00000064;
  pointer-events: none;
}

.tooltip-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.tooltip-masterwork {
  font-size: 11px;
  font-weight: 600;
}

.tooltip-description {
  font-size: 10px;
  font-style: italic;
}
.tooltip-top, .tooltip-bottom {
  border: 1px solid #7b7b7b;
}
.tooltip-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
  height: 29px;
  border-bottom: none;
}
.tooltip-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #0e0f12;
  border-top: none;
}
.tooltip-bottom p {
  margin: 5px;
}