.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 71px;
}

.header-left {
  position: relative;
  display: flex;
  height: 71px;
}
.header-left .nav-button-container {
  margin-left: 10px;
}

.header-title {
  margin: 0;
  height: 71px;
  display: flex;
  align-items: center;
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 30px;
}

.header-title-bold {
  font-weight: 600;
  font-size: 22px;
}

.nav-button-container {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  position: relative;
}

.nav-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: #cbcbcb;
  letter-spacing: -0.06em;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;

  transition: color 0.2s;
}

.nav-button.active-nav-button {
  color: #f19b36;
}

.nav-button:after {
  position: absolute;
  bottom: 0px;
  left: 51%;
  right: 51%;
  content: '';
  height: 2px;
  background-color: #f19b36;

  transition: left 0.5s, right 0.5s;
}

.nav-button:not(.active-nav-button):hover:after {
  right: 10px;
  left: 10px;
}